/* HEADER */

main {
	@include respond-to(handhelds) {
		padding-top: 65px;
	}
}

header.main { 
	position: relative;
	height: 127px;
	z-index: 1;
	@include respond-to(handhelds) {
		height: 65px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: white;
	}
	a.logo {
		display:block;
		width:128px;
		height:68px;
		background: url(assets/images/logo.png) 0 0 no-repeat;
		background-size: 100% 100%;
		font-size:0.1em;
		text-indent: -999px;
		overflow: hidden;
		position: absolute;
		left: 15px;
		top: 37px;

		@include respond-to(handhelds) {
			width: 64px;
			height: 34px;
			top: 19px;
		}
	}


	.menu-btn {
		display: block;
		outline: 0;
		width: 153px;
		height: 46px;
		background: url(assets/images/menu.png) 0 0 no-repeat;
		background-size: 153px 138px; //dom size = 153px 46px
		font-size:0.1em;
		text-indent: -999px;
		overflow: hidden;
		position: absolute;
		right: 15px;
		top: 49px;
		border: 0;
		border-radius: 0;
		outline: 0;
		padding: 0;
		cursor: pointer;

		&:hover {
			//background-position: 0 -92px;
		}

		&.open {
			background-position: 0 -46px;
		}

		@include respond-to(handhelds) {
			width: 100px;
			height: 30px;
			top: 19px;
			background-size: 100px 90px; //dom size = 153px 46px

			&:hover {
				//background-position: 0 -60px;
			}

			&.open {
				background-position: 0 -30px;
			}
		}

	}
}