.product {
    background: $grey;
    position: relative;
}

.product_menu {
    display: none; // made visible by js
    position: absolute;
    //height:100%;
    min-width: 300px;
    background: $black;
    top: 127px;
    right: 15px;
    z-index: 1;
    padding: 30px;

    .home & {
        top: 0;
        right: 0;
        height: 100%;

        @include respond-to(handhelds) {
            right: auto;
            top: 65px;  
            height: calc(100% - 65px);
        }
    }

    .menu_item {
        line-height: 4.5rem;
        a {
            display: block;
            white-space: nowrap;
            color: white;
            text-align: right;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 300;
            text-decoration: none;

            &:hover {
                color: $red;
                text-decoration: none;
            }
        }
    }

    @include respond-to(handhelds) {
        display: block;
        position: fixed;
        width: 100%;
        left:0;
        right: auto;
        top: 65px;  
        height: calc(100% - 65px);
        transform: translate3d(100%,0,0);
        transition: transform .3s;
        z-index: 10;
        padding: 30px 18px;
        border-bottom: 3px solid $red;

        &.menu--open {
            transform: translate3d(0,0,0);
        }
    }
}

.product_wrapper {
    padding: 60px 30px 60px 0;

    @include respond-to(handhelds) {
        padding: 15px 30px 30px 30px;
    }
}

.product_title {
    margin-bottom: 25px;

    @include respond-to(handhelds) {
        margin-bottom: 0;
    }
    
    h2 {
        color: $red;
    }
}

.product_slider {
    padding: 100px;
    @include respond-to(handhelds) {
		padding: 30px 50px;
	}
}

.product_info {
    margin-bottom: 30px;
    padding-right: 150px;

    @include respond-to(handhelds) {
        padding-right: 0;
    }

    p {
        padding: 0;
    }
}

.product_price {
    font-size: 3.6rem;
    color: $black;
    font-weight: 700;
    @include respond-to(handhelds) {
        font-size: 3rem;
    }
    margin-bottom: 20px;
}

.product_btn {
    @extend %btnred;
    display: inline-block;
    line-height: 50px;
}