/* FORMS */

::-webkit-input-placeholder { color: $black; }
::-moz-placeholder { color: $black; } /* firefox 19+ */
:-ms-input-placeholder { color: $black; } /* ie */
input:-moz-placeholder { color: $black; }

form { }

/* Gravity Forms */

.gform_description,
.gform_heading,
.gform_confirmation_message {
	line-height:2.5rem;
  	color: $textColor;
  	font-size: 1.4rem;
  	padding-bottom:1.4rem;

	@include respond-to(handhelds) {
		font-size: 1.3rem;
		line-height: 2.4rem;
	}
}

.gform_title {
	font-size: 2.2rem;
    text-indent: 0;
    line-height: 3.5rem;
    margin-top: 0;
	font-weight: 400;
    color: $black;
}

.gsection_title {
	font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1rem;
	color: $red;
}

.gform_wrapper .validation_message,
.gform_wrapper .validation_error {
	line-height:2.5rem;
  	color: $red;
  	font-size: 1.4rem;
  	padding-bottom:1.4rem;

	@include respond-to(handhelds) {
		font-size: 1.3rem;
		line-height: 2.4rem;
	}
}
.gform_wrapper .validation_message {
	padding-left: 10px;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
	margin: 0;
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background: none;
	border: none;
}

.gform_wrapper li.gfield_error input[type=email], 
.gform_wrapper li.gfield_error input[type=number], 
.gform_wrapper li.gfield_error input[type=password], 
.gform_wrapper li.gfield_error input[type=tel], 
.gform_wrapper li.gfield_error input[type=text], 
.gform_wrapper li.gfield_error textarea {
	border-color: $red;
}

.gform_wrapper {
	.gfield_label {
		display: none;
	}
	.ginput_container {
		margin: 0 0 3px 0;
	}
	.gform_footer {
		margin: 0;
		padding: 17px 0 0 0;
		overflow: hidden;
	}

	ul li {
		list-style: none !important;
		margin: 0 !important;
	}
}

.gform_wrapper select,
.gform_wrapper textarea,
.gform_wrapper input[type=text], 
.gform_wrapper input[type=email], 
.gform_wrapper input[type=tel], 
.gform_wrapper input[type=number], 
.gform_wrapper input[type=password] {

	color: $black;
	border: 1px solid $black;
	width: 100%;
	background: none;
	padding: 5px 20px;
	outline: 0;
	border-radius: 0;

	line-height:2.5rem;
  	color: $textColor;
  	font-size: 1.4rem;

	@include respond-to(handhelds) {
		font-size: 1.3rem;
		line-height: 2.4rem;
	}

	&:focus {
		outline: 0;
	}
  	
}

.gform_wrapper select {
	height: 37px;
}

.gform_wrapper textarea {
    height: 100px;
}

.gf_progressbar {
	display: none;
}

.gform_previous_button,
.gform_next_button,
.gform_wrapper input[type=submit] {
	@extend %btn;
	float: right;

	@include respond-to(handhelds) {
		float: none;
		width: 100%;
		height: 40px;
		padding: 0 15px;
		font-size: 1.6rem;
		letter-spacing: normal;
	}
}

.gform_previous_button,
.gform_next_button {
	background: $lightGrey;  
}

.gform_previous_button {
	float: left;
}

#gform_1 {
	.gform_previous_button,
	input[type=submit] {
		@include respond-to(handhelds) {
			width: auto;
		}
	}

	input[type=submit] {
		@include respond-to(handhelds) {
			float: right;
		}
	}

}

.ginput_quantity {
	width: 50px !important;
	padding: 5px 5px !important;
	text-align: center;
}

.gfield_price {
	label {
		display: block !important;
    	font-weight: bold !important;
    	text-transform: uppercase !important;
	}

	.ginput_total {
		color: $red;
	}
}

.gform_wrapper .payment-method,
.gform_wrapper .payment-bank {
	.gfield_label {
		display: block;
		font-weight: bold;
		padding: 10px 0;
	}
}

.gform_wrapper .payment-bank {
	padding-bottom: 20px;
}
