// Structure
$siteWidth: 95%;
$siteMaxWidth: 1200px;
$siteMinWidth: 940px;

//fonts
$baseFontSizePX: 10px;
$baseFontSize: 10;

//base colors
$black: #323132;
$white: #FFF;
$textBlue: #1A76BB; //not used
$bgBlue: #1B71BB; //not used
$yellow: #FFDE00; //not used

//newcolors
$grey: #F1F2F2;
$textColor: #58585A;
$red: #E13B55;
$lightGrey: #F6F6F6;

$verticalMargin: 35px;